.Nav {
  background-color: #1B1B1B;
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;

  .left {

    img {
      height: 153px;
      width: 280px;
      margin-left: 100px;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;

    .above {

      .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        input {
          width: 500px;
          height: 30px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border: none;
          padding-left: 10px;
          font-size: 1.1rem;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 30px;
          background-color: #101010;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }

    .below {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .favorieten {
        font-size: 1.2rem;
        color: white;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 20px;
    
    .profile {
      display: flex;
      align-items: center;
      flex-direction: row;
      color: white;
      
      .box {
        min-width: 250px;
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: auto;
          border-radius: 50%;
          margin-left: 5px;
          margin-right: 5px;
        }

        .content {
          button {
            margin-left: 10px;
          }
    
          button:hover {
            color: cyan;
          }
        }
      }
    }

    .manage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 40px;
      border-radius: 5px;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
      background-color: #101010;
      color: white;
      margin: 15px;
    }

    .manage:hover {
      color: cyan;
    }
  }
}

@media (max-width: 1250px) {
  .Nav {
    height: 75px;

    .left {
      img {
        margin-left: 20px;
        margin-right: 150px;
      }
    }

    .center {

      .above {

        .search {
          margin-top: 20px;
  
          input {
            width: 40vw;
          }
        }
      }
    }

    .below {
      
      .favorieten {
        display: none;
      }
    }

    .right {
      
      .profile {
        
        .box {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100px;
          cursor: pointer;

          
        }
      }

      .manage {
        display: none;
      }
    }
  }
}

@media (max-width: 1020px) {
  .Nav {

    .center {

      .above {

        .search {
  
          input {
            width: 30vw;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .Nav {

    .center {

      .above {

        .search {
  
          input {
            width: 40vw;
          }
        }
      }
    }

    .right {
        
        .profile {
          
          .box {
            display: none;
          }
        }
    }    
  }
}

@media (max-width: 600px) {
  .Nav {

    .left {

      img {
        width: 40vw;
        height: auto;
      }
    }
  }
}