.taskbar {
    height: calc(100vh - 150px);
    width: 300px;
    background-color: #101010;

    .flex {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .pinned {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-left: 10px;
            width: calc(100% - 10px);

            p {
                color: white;
                font-size: 1rem;
            }

            .pinnedItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: white;
                font-size: 1.2rem;
                margin: 5px;

                .text {
                    flex-grow: 1;
                    margin-left: 10px;
                    color: white;
                    float: left;

                    div {
                        margin-top: -5px;
                        font-size: small;
                        color: white;
                    }
                }

                .viewer {
                    display: flex;
                    font-size: 0.9rem;
                    margin-left: 20px;
                    align-items: center;
                    color: red;
                    float: right;
                    justify-content: center;

                    div {
                        color: white;
                        margin-right: 5px;
                    }
                }
            }
        }

        .boxMiddle {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            align-items: center;
            margin-bottom: 30px;

            .boxCenter {


                .boxItem {
                    display: flex;
                    color: white;
                    font-size: 1.5rem;
                    align-items: center;
                    margin: 5px;
    
                    .link {
                        margin-left: 10px;
                    }
                }

                .boxItem:hover {
                    color: cyan;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .taskbar {
        height: calc(100vh - 75px);
    }
}